@model VodusAssesmentMVC.Models.Product

<h4 class="text-center">Add New Product</h4>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name">Product Name:</label>
        <input asp-for="Name" class="form-control" required="true"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price:</label>
        <input asp-for="Price" class="form-control" required="true"/>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Product Description:</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br/>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
