@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">This is</h2>
    <h3>MVC sample project only!</h3>
    <p>About Creator: <a href="https://www.linkedin.com/in/afiqah-as/" target="_blank">Afiqah Abu Samah</a>.</p>
</div>
